$borderRadius: 3px;

.cardContainer {
    position: relative;
    bottom: 0;
    margin: 20px;
    border-radius: $borderRadius;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.616);
    transition: all 0.3s ease-in-out;
    &:hover {
        bottom: 9px;
        box-shadow: 4px 5px 6px rgba(19, 18, 18, 0.699);
        background-color: rgba(27, 27, 27, 0.589);
    }
    .gameCardInformationContainer {
        z-index: 1;
        position: absolute;
        filter: drop-shadow( 0 0 2px rgba(250, 252, 221, 0.733));

        .gameCardInnerInformation {
            width: 300px;
            height: 200px;
            background-color: rgba(53, 53, 53, 0.856);
            color: white;
            padding: 1em;
            border-radius: $borderRadius;
            clip-path: circle(5% at 8% 11%);
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &:hover {
                clip-path: circle(75%);
            }

            .infoIcon {
                font-size: 12px;
                position: relative;
                bottom: 8px;
                left: 5.5px;
                color: white;
                transition: all 0.1s ease-in-out;
            }
            &:hover .infoIcon {
                color: rgba(255, 255, 255, 0);
            }

        }
    }

    .gameCard {
        width: 300px;
        height: 200px;
        background-color: rgba(46, 46, 46, 0.219);
        border-radius: $borderRadius;
        padding: none;

    }

    .gameCardImg {
        box-shadow: 0 0 3px rgba(82, 81, 81, 0.952);
        border-radius: $borderRadius;
        width: 300px;
        height: 100%;
    }

    .videoPlayer {
        position: relative;
    }

}
