.tableContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gameCardBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
        text-decoration: none;
    }
}