.jumbotron {
    background-color: transparent;
    font-size: 50px;
}

.btn-success {
    background-color: #30b55c;
    border: none;
}

.fa-times-circle {
    color: white;
}

.keyimage {
  height: 45%;
  width: 90%;
  display: flex;
  flex-direction: column;
  -webkit-filter: drop-shadow(10px 10px 10px #000);
  filter: drop-shadow(10px 10px 15px #000);
}

.welcomeimage{
  z-index: 1;
  position: absolute;
  height: 1000px;
  width: 2000px;
  top: 275px;;
  left: -25px;
}
