$tablet: "(min-width: 368px) and (max-width: 1170px)";

.userProfileMain {
    display: flex;
    justify-content: center;
    .profileContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        min-width: 300px;
        height: 100%;
        padding: 20px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.363);
        .leftContainer {
            height: 600px;
            width: 48%;
            border-radius: 12px;
            box-shadow: 0 0 4px black;
            background-color: rgb(255, 255, 255);
        }
        @media #{$tablet} {
            .leftContainer {
                width: 100%;
                margin-bottom: 26px;
            }
        }
        .rightContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            min-width: 300px;
            height: 600px;
            .favoriteGame {
                background-color: white;
                height: 48%;
                width: 100%;
                border-radius: 12px;
                box-shadow: 0 0 4px black;
            }
            .newRelease {
                background-color: white;
                height: 48%;
                width: 100%;
                border-radius: 12px;
                box-shadow: 0 0 4px black;
            }

        }
        @media #{$tablet} {
            .rightContainer {
                width: 100%;
            }
        }
    }
}
